# Discord Bot Token (required)
TOKEN=
# Badgeworks API (optional — only needed for /badge command)
BADGEWORKS_API_URL=http://localhost:8080
BADGEWORKS_API_KEY=
# Screenshot Web (optional — only available for the /screenshot_web command on domains listed in 'config\screenshot_web_whitelist_cookie.txt')
FIREFOX_COOKIE_DB=
# Mc Skin (optional — only needed for /mcskin command)
EMAIL=
