# Discord Bot Token (required)
TOKEN=
# Screenshot Web (optional — only available for the /screenshot_web command on domains listed in 'config\screenshot_web_whitelist_cookie.txt')
FIREFOX_COOKIE_DB=
# Mc Skin (optional — only needed for /mcskin command)
EMAIL=
